{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href="{% static 'portfolio/main.css' %}">
    <script src="https://kit.fontawesome.com/4ee0216cb6.js" crossorigin="anonymous"></script>
    {% block style %}{% endblock %}
</head>
<body class="base_grid">
    <header>
        
        <nav class="base_nav" id= "Basenav">
            <ul>   
                <li style="font-size:large"><a href="{% url 'portfolio-home'%}">Sebastiaan Cales</a></li>
            </ul> 
            <ul class="main_content">
                
                <li><a href="{% url 'portfolio-profile'%}">Profile</a></li>
                <li><a href="{% url 'portfolio-cv'%}">CV</a></li>
                <li><a href="{% url 'portfolio-portfolio'%}">Portfolio</a></li>
                <li><a href="{% url 'portfolio-contact'%}">Contact</a></li> 
            </ul>
            <ul class = "socials_nav">              
                <li><a href="{{github.social_link}}" target = "_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="{{linkedin.social_link}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul> 
            
            <ul>
                <li><a href="javascript:void(0);" class="dropdown" onclick="toggle()">&#9776;</a></li>
            </ul>
 
        </nav>
    </header>
    {% if messages %}
        {% for message in messages %}
            <div class = "{{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <div>{% block content %}{% endblock %}</div>
    <footer>
        <a href="{% url 'portfolio-home'%}">© 2020 - Sebastiaan Tien-Tjie Cales</a>
    </footer>
    <script type="text/javascript" src="{% static 'portfolio/util.js' %}"></script>
</body>

</html>