{% extends "portfolio/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type= "text/css" href="{% static 'portfolio/contact.css' %}">
{% endblock style%}
{% block content %}

<div class="content_grid">
    <h1 class="main_title">Contact</h1>
    <p class="form_intro">Als u met me wilt samenwerken vul dan dit contactformulier in, ik probeer zo snel mogelijk te reageren!</p>
    <form class="super_form" method="POST"> {%csrf_token%}
        <table>
        {{form.as_table}}
        </table>
        <div class="verstuur">
            <button>
            <input type="submit" value="Verstuur!"> 
            </button>
        </div>



        {% if messages %}
            {% for message in messages %}
                <div class = "{{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

    </form>
</div>
{% endblock content%}