{% extends "portfolio/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type= "text/css" href="{% static 'portfolio/portfolio.css' %}">
{% endblock style%}
{% block content %}
<div class="content_grid">
    <h1 class="main_title">Portfolio</h1>
    <div class = "utils">
        <p>Sorteer op datum:</p>
        <input type="radio" id="nieuw -> oud" name="sortDate" value="nieuw -> oud" checked>
        <label for="nieuw -> oud">nieuw -> oud</label><br>
        <input type="radio" id="oud -> nieuw" name="sortDate" value="oud -> nieuw">
        <label for="oud -> nieuw">oud -> nieuw</label><br>
        <button class = "sortbutton" onclick="sortDate()">sorteer</button>
    </div>
    <div class="gallery">
        {% for project in projects%}
        <div class = "project">
            {% for image in images %}
                {% if image.project.project_title == project.project_title%}
                    <img class="thumbnail" src="{{image.image.url}}" alt="">
                {% endif %}
            {% endfor %}
            <p class="title">{{project.project_title}}</p>
            <!-- meta informatie nodig voor sorteren en filteren -->
            <div class = "meta">
                <p class="date" >{{project.date_start}} - {{project.date_end}}</p>
                {% for tag in project.tag_set.all %}
                <p class = "tag">{{tag}}</p>
                {% endfor %} 
            </div>

            <p class="description">{{project.description.short}}</p>
            <a class="discover" href="{% url 'portfolio-project-detail' project.project_title %}"><button class=" btn">Discover</button></a>
        </div>

        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="{% static 'portfolio/util.js' %}"></script>
{% endblock content%}