{% extends "portfolio/base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" type= "text/css" href="{% static 'portfolio/project_details.css' %}">
{% endblock style %}
{% block content %}
<div class="content_grid">
    <div class ="breadcrumbs">
        <ol>
            <li><a href="{% url 'portfolio-portfolio' %}">Portfolio/</a></li>
            <li><a href="{% url 'portfolio-project-detail' project.project_title %}">{{project.project_title}}</a></li>
        </ol>
    </div>
    <div class="titel">
        <h1>{{project.project_title}}</h1>
    </div>

    <div class="slideshow-row">
        
            
            {% for image in images %}
            <div class="mySlides">
                <img src="{{image.image.url}}" alt="">
            </div>
            {% endfor %}
            {% if images.count > 1 %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            {% endif %}
       
    </div>

    <div class="stakeholder">   
        <h2>De stakeholders</h2>
        <p>{{project.description.stakeholders}}</p>
    </div> 
    <div class = "problem">
        <h2>Het probleem</h2>
        <p>{{project.description.problem}}</p>
    </div>
    <div class="solution">
        <h2>De oplossing</h2>
        <p>{{project.description.solution}}</p>
    </div>
    <div class="technologies">
        <h2>Technologiën gebruikt:</h2>
        <ul>
            {% for tag in project.tag_set.all %}
            <li class="tag"> {{tag}} </li>
            {% endfor%}
        </ul>
    </div>
    <div class="projectlinkjes">
        {% if project.live_link != None %}
            <a href="{{project.live_link}}" target="_blank"><button class=" btn">Live</button></a>
        {% endif %}
        {% if project.github_link != None %}
            <a href="{{project.github_link}}" target="_blank"><button class=" btn">Source</button></a>
        {% endif %}
    </div>
</div> 
<script type="text/javascript" src="{% static 'portfolio/slide.js' %}"></script>
{% endblock content %}