.tag{
    color:green;
    display: hidden;
}
.content_grid{
    display: grid;
    grid-template-rows: auto auto 1fr ;
    gap: 10px;
    padding: 20px;
}
.main_title{
    text-align: center;
}

.utils{
    justify-self: center;
    font-size: 24px;
}

.sortbutton{
    margin-top: 10px;
    margin-left: 35px;
}

.sortbutton:hover{
    color: #666666;
}
.gallery{

    justify-self: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.project{
    display: grid;
    grid-template-rows: 300px auto auto 50px;
    max-width: 350px;
    /* border: 3px solid black; */
}

/* relevant styles */
.image_wrap {
    position: relative;
    max-width: 350px;
    max-height: 300px;
    height: 300px;
  }
  
.meta {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    max-width: 350px;
    max-height: 300px;
    height: 300px;
    transition: opacity .2s, visibility .2s;
}

.meta p{
      color: aqua;
      padding-left: 10px;
      padding-top: 10px;
}

.tag{
    color: greenyellow;
}

.image_wrap:hover .meta{
    visibility: visible;
    opacity: 1;
  }
.thumbnail{
    grid-row: 1/2;
    vertical-align: middle;
    max-width: 350px;
    max-height: 300px;
    height: 300px;
}

.title{
    grid-row: 2/3;
}

.description{
    grid-row: 3/4;
}

.discover{
    grid-row: 4/5;
    justify-self: center;
    text-align: center;
}

@media screen and (max-width: 1200px){
    .gallery{grid-template-columns: 1fr 1fr;}
}

@media screen and (max-width: 750px){
    .gallery{grid-template-columns: 1fr;}
}