.tag{
    color:green;
    display: hidden;
}
.content_grid{
    display: grid;
    grid-template-rows: auto auto 1fr ;
    gap: 10px;
    padding: 20px;
}
.main_title{
    text-align: center;
}

.utils{
    justify-self: center;
    font-size: 24px;
}

.sortbutton{
    margin-top: 10px;
    margin-left: 25px;
}

.sortbutton:hover{
    color: #666666;
}
.gallery{

    justify-self: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.project{
    display: grid;
    grid-template-rows: 300px auto auto 50px;
    max-width: 350px;
    /* border: 3px solid black; */
}

.thumbnail{
    grid-row: 1/2;
    vertical-align: middle;
    max-width: 350px;
    max-height: 300px;
    height: 300px;
}

.thumbnail:hover{
    filter: brightness(0.3);
}
.title{
    grid-row: 2/3;
}

.description{
    grid-row: 3/4;
}

.discover{
    grid-row: 4/5;
    justify-self: center;
    text-align: center;
}

.meta{
    display: none;
}

@media screen and (max-width: 1200px){
    .gallery{grid-template-columns: 1fr 1fr;}
}

@media screen and (max-width: 750px){
    .gallery{grid-template-columns: 1fr;}
}