.content_grid{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 100px 700px repeat(5, auto);
}

.breadcrumbs{
    grid-column: 1/2;
    align-self: center;
    text-align: center;
}

.titel{
    grid-column: 2/3;
    text-align: center;
    align-self: center;
}
.titel{
    font-size: small;
}

ol{
    list-style: none;
    list-style-type: none;
}

ol li{
    display: inline;
}

ol li a{
    text-decoration: underline;
    color: #111111;
    font-weight: bold;
}

ol li a:hover{
    color: #666666;
}

.slideshow-row{
    grid-column: 2/3;
    position: relative;
}
.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

img{
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(233,233,233,0.8);
  }
  

.stakeholder{
    grid-column: 2/3;
}

.problem{
    grid-column: 2/3;
    justify-self: end;
}

.solution{
    grid-column: 2/3;
}

.technologies{
grid-column: 2/3;
}

.projectlinkjes{
    grid-column: 2/3;
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
}

.projectlinkjes button{
    margin: 20px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media screen and (max-width: 1200px){
    .content_grid{grid-template-rows: 100px 500px repeat(5, auto);}
}

@media screen and (max-width: 900px){
    .content_grid{grid-template-rows: 100px 400px repeat(5, auto);}
}

@media screen and (max-width: 600px){
    .content_grid{grid-template-rows: 100px 300px repeat(5, auto);}
}